@import "tailwindcss";

:root {
  --background: #f7f3eb;
  --background2: #f9f1e3;
  --p1: #6d3207;
  --p2: #1c130d;
  --dark: #271610;
  --light: #6c594f;
}

@theme inline {
  --color-background: #f7f3eb;
  --color-background2: #f9f1e3;
  --color-p1: #6d3207;
  --color-p2: #1c130d;
  --color-dark: #271610;
  --color-light: #6c594f;

  --font-primary: var(--font-fraunces);
  --font-secondary: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
